.header-wrap {
  position: relative;
  display: flex;
  height: 6rem;
  min-height: 6rem;
  z-index: 1;
  background-color: white;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 2px solid #d8d8d8;
  padding: 0 2rem 0 2rem;
}

.header-wrap .logo {
  flex-grow: 1;
}

.header-wrap .logo a {
  font-size: 1.5rem;
  text-decoration: none;
}

.header-wrap .logo .logo-img {
  height: 3.2rem;
  background-image: url('../../../image/bg_bright_codedu.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.header-wrap .user div span{
  font-size: 1.6rem;
}
.header-wrap .user div span img{
  font-size: 1.4rem;
}

.header-wrap .user .user-icon img {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

.login-message {
  display:inline;
  float: right;
}

@media screen and (max-width:640px) {
  .header-wrap {
    height: 4rem;
    min-height: 4rem;
    font-size: 1.2rem;
    padding: 0 1rem 0 2rem;
  }
  .header-wrap .logo .logo-img {
    height: 3.2rem;
    background-image: url('../../../image/cd_bg_green_hex.png');
  }
}