.header-wrap {
  position: relative;
  display: flex;
  height: 6rem;
  min-height: 6rem;
  z-index: 1;
  background-color: white;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 2px solid #d8d8d8;
}

.header-wrap div {
  padding: 0 1rem 0 1rem;
}

.header-wrap .logo {
  padding-left: 2rem;
  flex-grow: 1;
}

.header-wrap .logo a {
  font-size: 1.5rem;
  text-decoration: none;
}

.header-wrap .logo img {
  height: 3.2rem;
}