.main-wrap {
    padding: 40px;
}

.part-wrap,
.exp-level-wrap,
.days-of-week-wrap {
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 30px;
}
.user-level {
    text-align: right;
    margin-top: 0;
    padding-bottom: 10px;
}