.footer-wrap {
  display: flex;
  height: 2.5rem;
  background-color: #d8d8d8;
  align-items: center;
  font-size: 0.8rem;
  border-top: 1px solid #d8d8d8;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.footer-wrap>div {
    margin: 0 auto;
}
