.subject-content-wrap {
  display: none;
}

.subject-problems-wrap {
  display: none;
}

.content-add.content > .subject-content-wrap {
  display: block;
}

.content-add.problems > .subject-problems-wrap {
  display: block;
}

.problems-form {
  display: none;
}

.problems-form.active {
  display: block;
}

.subject-content-wrap.raw > .form {
  display: block;
}

.subject-content-wrap.raw > .segment {
  display: none;
}

.subject-content-wrap > .form {
  display: none;
}

.subject_content-wrap > .segment {
  display: block;
}

.field.raw > textarea {
  display: inline-block;
}

.field.raw > .segment {
  display: none;
}

.field > textarea {
  display: none;
}

.field > .segment {
  display: block;
}