.subject-content-wrap {
  display: none;
}

.subject-problems-wrap {
  display: none;
}

.content-add.content > .subject-content-wrap {
  display: block;
}

.content-add.problems > .subject-problems-wrap {
  display: block;
}

.problems-form {
  display: none;
}

.problems-form.active {
  display: block;
}