.quiz-wrap {
    flex-grow: 1;
    display: flex;
}

.quiz-wrap .space {
    flex-grow: 1;
}

.quiz-wrap .outter-wrap {
    flex-grow: 1;
    max-width: 820px;
    display: flex;
    flex-direction: column;
}

.quiz-wrap .outter-wrap .inner-wrap {
    background-color: white;
    border: 1px solid #d8d8d8;
    border-radius: 3%;
    min-width: 100%;
    padding: 2rem;
}

.quiz-wrap .outter-wrap .inner-wrap .content-wrap {
    padding: 0rem 0.5rem;
}

.quiz-wrap .outter-wrap .inner-wrap .top {
    text-align: justify;
}

.quiz-wrap .outter-wrap .inner-wrap button {
    float: right;
    margin-left: 3rem;
}

.quiz-wrap .outter-wrap .inner-wrap .top h2 {
    display: inline;
}

.quiz-wrap .outter-wrap .inner-wrap .progress-wrap {
    margin: 4rem 1rem 0rem 1rem;
    padding: 0;
}

.quiz-wrap .outter-wrap .inner-wrap .content-wrap {
    margin: 1rem 1rem;
    min-height: 15rem;
}

.quiz-wrap .outter-wrap .inner-wrap .content-wrap ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.quiz-wrap .outter-wrap .inner-wrap .content-wrap .items {
    display: inline;
    flex-grow: 1;
    text-align: center;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: #d8d8d8;
    border-radius: 10%;
}

.quiz-wrap .outter-wrap .inner-wrap .result-wrap {
    display: flex;
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
    border-radius: 3%;
    width: inherit;
}

.quiz-wrap .result-wrap button {
    background-color: #d8d8d8 !important;
    color: rgb(80, 80, 80) !important;
}

.quiz-wrap .outter-wrap .inner-wrap .result-wrap div {
    display: inline;
    flex-grow: 1;
}

@media screen and (max-width:640px) {
    .quiz-wrap .outter-wrap {
        margin: 0;
        padding: 1rem;
    }
    .quiz-wrap .outter-wrap .inner-wrap {
        padding: 1.5rem 1rem;
    }

    .quiz-wrap .space {
        display: none;
    }
    .quiz-wrap .outter-wrap .inner-wrap .progress-wrap{
        margin-top: 1rem !important;
    }
    .quiz-wrap .outter-wrap .inner-wrap .top {
        text-align: center;
    }
    .quiz-wrap .outter-wrap .inner-wrap button {
        float: none;
        margin: 1rem 2rem;
    }
    .quiz-wrap .outter-wrap .inner-wrap .result-wrap .text {
        display: none;
    }
    .quiz-wrap .outter-wrap .inner-wrap .content-wrap ul {
        flex-direction: column;
    }
    .quiz-wrap .outter-wrap .inner-wrap .content-wrap .items {
        display: inline;
        flex-grow: 1;
        text-align: center;
        margin: 1rem 3rem;
        padding: 1rem 0;
        border-radius: 3%;
    }
}