.study-wrap {
  width: 75%;
  margin: 0 auto;
  max-width: 820px;
  background-color: white;
  padding: 1rem 4rem 2rem 4rem;
  border: 1px solid lightgray;
  border-radius: 3%;
}

.study-wrap .study-header {
  margin-top: 2rem;
  position: relative;
  font-size: 1.3rem;
}

.study-wrap .study-start-button.top {

}

.study-wrap .study-start-button.wrap {
  width: 100%;
  text-align: center;
  padding: 0 4rem;
}

.study-wrap .markdown{
  margin: 3rem 0;
}
