.content-wrap>.result-wrap {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #d8d8d8;
  border-radius: 3%;
  padding: 1rem 2rem;
  margin-top: 5rem;
}

.result-header {
  margin-top: 2rem;
  overflow: hidden;
}

.result-header .result-button-out {
  display: inline;
  float: right;
}
.result-header .mile {
  font-size: 1.2rem;
}

.result-content {
  margin-top: 2rem;
}
.result-content p:last-child{
  font-weight: bold;
}

.result-exp {
  display: flex;
  background-color: white;
  border: 1px solid #d8d8d8;
  align-items: center;
  height: 50px;
}
.result-exp .ui.progress {
  background: rgba(0,0,0,.1) !important;
}
.result-exp .ui.progress .bar{
  background: #F2C037 !important;
}

.result-exp .result-level {
  flex-grow: 1;
  text-align: center;
}

.result-exp .progress {
  flex-grow: 4;
}

.result-exp .result-up {
  flex-grow: 1;
  text-align: center;
}

.result-message {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:640px) {
  .content-wrap>.result-wrap{
    width:90%;
  }
  .result-header {
    text-align: center;
  }
  .result-header .result-button-out{
    display: block;
    float: none;
    margin: 1rem auto;
  }
}